table{
    width:100%;
}

.mat-for-field{
    font-size: 20px;
    width: 100%;
}

.body{
    display:block;
    place-items: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c288.747C68.97%2c289.866%2c142.841%2c349.844%2c201.269%2c313.18C259.569%2c276.597%2c248.625%2c188.139%2c266.327%2c121.627C280.925%2c66.777%2c299.662%2c14.086%2c295.947%2c-42.551C292.007%2c-102.618%2c283.148%2c-165.708%2c244.456%2c-211.822C205.536%2c-258.207%2c142.849%2c-272.027%2c85.973%2c-292.797C25.167%2c-315.002%2c-36.918%2c-355.499%2c-99.026%2c-337.253C-161.133%2c-319.007%2c-194.701%2c-253.678%2c-230.581%2c-199.8C-262.667%2c-151.619%2c-280.986%2c-98.542%2c-295.344%2c-42.464C-311.348%2c20.044%2c-336.516%2c83.589%2c-319.043%2c145.702C-300.435%2c211.849%2c-259.815%2c278.603%2c-197.114%2c306.715C-135.667%2c334.265%2c-67.332%2c287.654%2c0%2c288.747' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 845.1610000000001C1512.7069999999999 846.815 1582.367 913.738 1649.749 886.376 1716.887 859.113 1756.5439999999999 782.045 1770.521 710.944 1783.4850000000001 644.9929999999999 1735.771 585.233 1721.873 519.473 1709.1680000000001 459.35699999999997 1730.473 389.52099999999996 1692.4 341.294 1654.077 292.75 1585.247 284.574 1525.091 270.206 1467.68 256.494 1410.663 254.372 1351.903 259.969 1280.796 266.742 1198.512 256.612 1147.1109999999999 306.211 1095.455 356.05600000000004 1098.44 438.51300000000003 1092.716 510.068 1087.3 577.769 1090.182 645.207 1114.932 708.454 1140.68 774.249 1171.167 849.5799999999999 1236.296 876.97 1300.956 904.163 1369.873 843.566 1440 845.1610000000001' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");   
    background-size: 1800px 1000px;
    background-position: -200px 0;
}

.boton{
    float: right;
    font-size: 16px;
    height: 40px;
    
}

.buscador{
    width: 300px;
    margin-right: 3px;
    font-size: 16px;
}

.mat-cell{
    font-size: 16px;
}

.full-width{
    font-size: 16px;
}

.mat-header-cell{
    font-size: 16px;
}    
